*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(227, 233, 240);
}

a{
    text-decoration: none;
}

/* ----- Root Classes */


:root{
    --grad :linear-gradient(120deg, #FFA500 0%, #B95AFF 100%):
}
/* ----- Root Classes */


/* Global Styling */

.btn{
    border-radius: 5px;
    
    border: none;
    padding: .5rem;
    background: #00c1c2;
    border: 1px solid #00c1c2
}

.btn:hover{

    background: none;
   
    color:black}


/* Global Styling*/


.container{
    margin-left: 10rem;
    margin-right: 10rem;
   
}



/* Section Styling */
/* Nav-Bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    transform: translateY(3rem);
}

.nav-links{
margin: .3rem;
padding: .5rem;
}

#contact{
    border: 1px solid #000b;;
   border-radius: 3px;
   padding: 2px;
   ;
   background: white;

}

h2.brand{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

a.nav-links {
    color: rgb(51, 49, 49);
    font-family: 'Alegreya Sans', sans-serif;
}
ul.nav-stuff button{
    font-family: 'Alegreya Sans', sans-serif;
}
nav.nav{
    min-height: 0;
    height: 10vh;
}
/* Nav-Bar */


/*Main Site Section */

h3.intro{
    font-size: 80px;
    
}
div.info{
    margin-top: 9rem;
}

h3.orange{
    color: orange;
    font-family: 'Oswald', sans-serif;
}
h3.green{
   color: #00c1c2 ; 
   font-family: 'Poppins', sans-serif;
}

p.stuff{
    color: #8d8d8d;
    font-family: 'Alegreya Sans', sans-serif;
}

button.cta{
    margin-top: 1rem;
    border: none;
    background: #ffa500;
    border: 1px solid #ffa500;
    color: white;
    padding: 1rem 2rem;
    
    font-size: larger;
    
}


/*Main Site Section */

/* services */

section.services{
    display: flex;
    justify-content: space-between;
}

div.Service{


    height:13rem;
    width: 13rem;
    border-radius: .5rem;
    
    background-color: #ffa500;
    
}

div.eligibility{
  
    margin-top: 4rem;
    margin-left: 1rem;
}


h3#centre{
    margin-left: 3rem;
    transform: translateY(-0.5em);
    font-family: 'Roboto', sans-serif;
}
span.txt{
    font-family: 'Poppins',  sans-serif;
    font-size: 12px;
}

div >h3.awesome{
    margin-top: 3em ;
    color: #2b2b5a;
    font-size: 37px;
}

#sevice{
    
    color: #ffa500;
    font-size: 37px;
    margin-bottom: .3em;
    font-family: 'Alegreya Sans', sans-serif;
}


span.txtsev{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #8d8d8d;
}

h3.awesome,h3.sevice{
    font-family: 'Alegreya Sans', sans-serif;
}


button.cvv{
    background: #ffa500;
    border: none;
    border-radius: .2rem;
    height: 2rem;
    width: 8rem;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
}
button.cvv :hover{
    background: none;
    border: 1px solid #ffa500;
  
}
.spancir{
    padding: 1rem;
    position:relative;
    
    background-color: rgb(227, 233, 240);
    z-index: 4;
    
}
.round{
    display: flex;
    justify-content: center;
    border-radius:50% ;
  border: none;

  
}
.numtit{
    background-color: #ffa500;
}
span.back{
    height: 70px;
  width: 70px;
  z-index: 3;
}

#down{
    background-color: #00c1c2;
}

.goals{

    height: 100px;
    width: 100px;
}

.back{
    padding: .4rem;
    background-color: #ffa500;
    
    
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-between;
}

.cvv:hover{
    border:  1px solid #ffa500;
}

.numtit{
    background-color: #ffa500;
    
}



.emoji-faces{
    font-size: 48px;
}

.Service{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}



span.behind{
   
   
   
   
    
    z-index: 10;
  
}
b.no{
    font-family: 'poppins', sans-serif;
}


/* services */


/* Eligibility */



/* Eligibility */


/* ------ Projects section ------*/

section._projects_{
    height: 90vh;
    background-image: url(../assets/ponse.jpeg);
    

}
section._projects_ > div.container >h1{

    margin-left: 22rem;
}

#project-title{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

/* ------ Projects section ------*/


/* ------footer --------*/
footer{
    height: 0;
    min-height: 35vh;
    background-color: rgb(4, 0, 33);
    color: white;
   
   
}
div.foottop{
    display: flex;
    justify-content: space-between;
}
div.footbottom{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 3rem;
}
span#copyrights{
    margin-left: 20rem;
    
}
.smalltxt{
    margin-left: 3rem;
}
.footicons{
    margin-left: 3rem;
}

hr{
    opacity: 45%;
    color: #ffa500;
}
/*xxxxxxxxxxxxfooterxxxxxxxxxxx  */
/* Secti555on Styling */

/* -x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-xx-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x */



/* Message Me */

section.message{
    display: flex;
    justify-content: space-between;
}

#message-content{
    height: 15rem;
    width: 15rem;
     border: none;
     font-family: 'Poppins', sans-serif;
}

#contact-us{
  position: relative;
}

#submit{
    border-radius: 5px;
    
    border: none;
    padding: .5rem 2rem;
    background: #ffa500;
    border: 1px solid #ffa500;
}

#submit:hover{
background: none;

}
.contact-title{
    margin-left: 30rem;
}
#label{
    font-family: 'Poppins', sans-serif;
}
.smalltxt{
    font-family: 'Poppins', sans-serif;  
}
.cntent{
    font-family: 'Poppins', sans-serif;  
}
/* -x-x-x-xx-x-xx-x-xMessage Me */

/* -x-x-x-x-x-x-x-x-x-x-x-xx-x-x- */

